svg {
    font: 12px sans-serif;
    text-anchor: middle;
    float: left;
  }
  
  rect {
    /*stroke: lightgray;*/
    fill: none;
  }
  
  .y.axis path{
    fill: none;
    stroke: none;
  }

  .nodes circle {
    cursor: pointer;

}

.links line {
    fill: none;
    stroke: black; /*#9ecae1;*/
    stroke-width: .5px;
}

.disp {
    float: right;
    padding-right: 9px;
}

.analysis{
  clear: both;
  margin-top: 4rem;
  padding-top: 4rem;
  width: 50%;
}
footer {
    clear: both;
    text-align: center;
    margin-top: 2rem;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
  }
.link:hover {
    stroke-opacity: .5;
}

ul{
    list-style-type:none;
}

h1{
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
}

body{
  background-color: #f5ebf5;
}

.buttons button {
  background-color: #0e4d40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

